body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  position: relative;
  max-width: 480px;
  height: 100vh;
  margin: 0 auto;
}

button.button-primary {
  background: #5050a2;
  border-radius: 40px;
  padding: 10px 2rem;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}
